<!-- Main navbar -->
<div class="navbar navbar-inverse bg-blue-600">
    
    <!-- Navbar header -->
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('dashboard.index') }}"><img src="{{ url_for('static', filename='dashboard/images/logo_light.png') }}" alt=""></a>

        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-demo3" class="collapsed" aria-expanded="false"><i class="icon-grid3"></i></a></li>
        </ul>
    </div>
    <!-- /navbar header -->

    <!-- Navbar menu -->
    <div class="navbar-collapse collapse" id="navbar-demo3" aria-expanded="false">

        <!-- Right nav -->
        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-user position-left"></i>
                    <span> {{ current_user.email }}</span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
                    <li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
                    <li><a href="{{ url_for('dashboard.products') }}">Products</a></li>
                    <li><a href="{{ url_for('dashboard.categories') }}">Categories</a></li>
                    <li><a href="{{ url_for_security('logout') }}"><i class="icon-switch2"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
        <!-- /right nav -->

    </div>
    <!-- /navbar menu -->
</div>
<!-- /main navbar -->