<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='dashboard/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='dashboard/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='dashboard/css/core.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='dashboard/css/components.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='dashboard/css/colors.css') }}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/core/libraries/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/core/libraries/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/plugins/ui/nicescroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/plugins/ui/drilldown.js') }}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/core/app.js') }}"></script>
    <!-- /theme JS files -->

</head>

<body class="navbar-bottom">

    <!-- Page header -->
    <div class="page-header page-header-inverse">

        <!-- Main navbar -->
        {% include 'dashboard/_navbar.html' %}
        <!-- /main navbar -->

    </div>
    <!-- /page header -->

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">
                {% block content %}
                {% endblock %}
            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->


    <!-- Footer -->
    {% include 'dashboard/_footer.html' %}
    <!-- /footer -->

</body>
</html>