{% extends 'dashboard/base.html' %}

{% block title %}Dashboard - Categories{% endblock %}

{% block content %}
<!-- Main content -->

<!-- Estimates panel -->
{% for category in categories %}
    {% if category.id == 1 %}
        <p>Parent: {{ category.name }}</p>
    {% endif %}
{% endfor %}

{% for category in categories %}
    {% if category.parent_id == 1 %}
        <p>Child: {{ category.name }}</p>
    {% endif %}
{% endfor %}

<!-- /invoices panel -->


<!-- /main content -->
 {% endblock %}