{% extends 'dashboard/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<!-- Main content -->

<!-- Estimates panel -->
<div class="panel panel-white">
    <div class="panel-heading">
        <h5 class="panel-title">Estimates</h5>
        <div class="heading-elements">
            <a href="{{ url_for('dashboard.new_estimate') }}"><button type="button" class="btn btn-primary heading-btn">Add New</button></a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Eugene</td>
                    <td>Kopyov</td>
                    <td>@Kopyov</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Victoria</td>
                    <td>Baker</td>
                    <td>@Vicky</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>James</td>
                    <td>Alexander</td>
                    <td>@Alex</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Franklin</td>
                    <td>Morrison</td>
                    <td>@Frank</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /estimates panel -->

<!-- Invoices panel -->
<div class="panel panel-white">
    <div class="panel-heading">
        <h5 class="panel-title">Invoices</h5>
        <div class="heading-elements">
            <button type="button" class="btn btn-primary heading-btn">Add New</button>
        </div>
    </div>

    <div class="panel-body">
    </div>
</div>
<!-- /invoices panel -->


<!-- /main content -->
 {% endblock %}