{% extends 'dashboard/base.html' %}

{% block title %}Dashboard{% endblock %}

<!-- Index JS files -->
{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/dashboard/dashboard.js') }}"></script>
<script type="text/javascript">
    // CSRF protection for ajax submit
    var csrf_token = "{{ csrf_token() }}";
    var current_user = "{{ current_user.id }}";
    var initial_setup = "{{ initial_setup }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
{% endblock %}
<!-- End Estimate JS files -->

{% block content %}
<!-- Main content -->

<!-- Page title -->
<div class="page-header">
  <div class="btn-toolbar pull-right">
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-plus2"></i> Add New <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="{{ url_for('estimate.new_estimate') }}"> Estimate</a></li>
        </ul>
    </div>
  </div>
  <h2>Dashboard</h2>
</div>
<!-- \page title -->
</br>

<!-- Estimates panel -->
<div class="panel panel-white">
    <div class="panel-heading">
        <h5 class="panel-title"><span class="text-semibold">Estimates</span></h5>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
        {% if estimates %}
            <thead>
                <tr>
                    <th>Estimate #</th>
                    <th>Client</th>
                    <th>Date</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for estimate in estimates %}
                    <tr>
                        <td><a href="#">{{ '{:04d}'.format(estimate.estimate_number) }}</a></td>
                        <td>{{ estimate.client.fname }} {{ estimate.client.lname }}</td>
                        <td>{{ estimate.date_of_issue.strftime('%b %e, %Y') }}</td>
                        <td>${{ estimate.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            {% else %}
            <tr>
                <td class="text-center"><h6>No estimates. Would you like to <a href="{{ url_for('estimate.new_estimate') }}">add one?</a></h6></td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
<!-- /estimates panel -->


<!-- modal form -->
{% include 'dashboard/business_setup_modal.html' %}
<!-- end modal form -->

<!-- /main content -->
 {% endblock %}