{% extends 'dashboard/base.html' %}

{% block title %}New Estimate{% endblock %}

{% block content %}
<!-- Main content -->

<!-- Estimates panel -->
<div class="panel panel-white">
    <div class="panel-heading">
        <h5 class="panel-title">New Estimate</h5>
    </div>

    <div class="panel-body">
        <form class="form-horizontal" action="#">
            <fieldset class="content-group">

                <div class="form-group">
                    <label class="control-label col-lg-2">Default text input</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2">Input with placeholder</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="Enter your username...">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2">Predefined value</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" value="http://">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2">Default select</label>
                    <div class="col-lg-10">
                        <select name="select" class="form-control">
                            <option value="opt1">Usual select box</option>
                            <option value="opt2">Option 2</option>
                            <option value="opt3">Option 3</option>
                            <option value="opt4">Option 4</option>
                            <option value="opt5">Option 5</option>
                            <option value="opt6">Option 6</option>
                            <option value="opt7">Option 7</option>
                            <option value="opt8">Option 8</option>
                        </select>
                    </div>
                </div>
            </fieldset>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </form>
    </div>
</div>
<!-- /estimates panel -->


<!-- /main content -->
 {% endblock %}