{% extends 'dashboard/base.html' %}

{% block title %}Quote App - New Client{% endblock %}

{% block content %}
<!-- Main content -->

<div class="page-header">
  <h2>New Client</h2>
</div>

<!-- New client form -->
<form method="post">
{{ form.hidden_tag() }}
    <div class="panel panel-flat">

        <div class="panel-body">
            <fieldset>
                
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Client Name:</label>
                            {{ form.fname(class='form-control') }}
                            <p class="help-block">First name</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            {{ form.lname(class='form-control') }}
                            <p class="help-block">Last name</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                     <div class="col-sm-3">
                        <div class="form-group">
                            <label>Email:</label>
                            {{ form.email(class='form-control') }}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Phone #:</label>
                            {{ form.phone(class='form-control') }}
                        </div>
                    </div>
                </div>

                <p><a data-toggle="collapse" data-target="#address"><i class=" icon-menu-open2"></i> Address (optional)</a></p>
                <div id="address" class="collapse">
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address line 1:</label>
                                {{ form.address1(class='form-control') }}
                            </div>

                            <div class="form-group">
                                <label>Address line 2:</label>
                                {{ form.address2(class='form-control') }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>City:</label>
                                {{ form.city(class='form-control') }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>State:</label>
                                {{ form.state(class='form-control') }}
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>ZIP code:</label>
                                {{ form.zip_code(class='form-control') }}
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            </br>
            <div class="text-left">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>
<!-- /new client form -->


<!-- /main content -->
 {% endblock %}