{% extends 'dashboard/base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<!-- Main content -->

<div class="page-header">
  <h2>Products</h2>
</div>

<!-- Products table -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Products and Services<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
    </div>

    <div class="panel-body">
        These default products and services are available in Quotes App. Edits and added products are saved to your user profile.
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Duration</th>
                    <th>Circulation</th>
                    <th>Image Size</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr> 
                        <td>{{ product.category.name }}</td>
                        <td>{{ product.duration.name }}</td>
                        <td>{{ product.circulation.name }}</td>
                        <td>{{ product.image_size.name }}</td>
                        <td>{{ product.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- /products table -->


<!-- /main content -->
 {% endblock %}