{% extends 'account/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<body class="theme-default page-signin-alt">
    
    <!-- Top Nav -->
    <div class="signin-header">
        <a href="index.html" class="logo">
            <strong>Photog</strong>App
        </a> <!-- / .logo -->
    </div> <!-- / .header -->
    <!-- / Top Nav -->

    <!-- Page Header -->
    <br/>
    <h1 class="form-header">Create Account</h1>
    <!-- / Page Header -->

    <div class="panel">
        <p>Create a password to start using your account.</p><br>
        <!-- Form -->
        <form method="post" onsubmit="button.disabled = true; return true">
            {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <div class="alert alert-danger">
                    {% for message in messages %}
                      {{ message }}
                    {% endfor %}
                  </div>
                {% endif %}
            {% endwith %}
            {% for error in form.password.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            <div class="form-group">
                <input class="form-control input-lg" id="email" name="email" value="{{ email }}" readonly>
            </div>
            <div class="form-group">
                {{ form.password(class='form-control input-lg', placeholder='Password', required='true') }}
            </div> <!-- / Password -->
            <div class="form-group">
                {{ form.password_again(class='form-control input-lg', placeholder='Password (again)', required='true') }}
            </div> <!-- / Password -->
            <div class="form-actions">
                <input type="submit" value="Submit" name="button" class="btn btn-primary btn-block btn-lg">
            </div> <!-- / .form-actions -->
        </form>
        <!-- / Form -->
    </div>
    
</body>
{% endblock %}