{% extends 'account/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<body class="theme-default page-signin-alt">
    
    <!-- Top Nav -->
    <div class="signin-header">
        <a href="index.html" class="logo">
            <strong>Photog</strong>App
        </a> <!-- / .logo -->
    </div> <!-- / .header -->
    <!-- / Top Nav -->

    <!-- Page Header -->
    <br/>
    <h1 class="form-header">Reset Your Password</h1>
    <!-- / Page Header -->

    <div class="panel">
        <p>Enter your email below to reset the password for your account.</p><br>
        <!-- Form -->
        <form method="post">
            {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <div class="alert alert-danger">
                    {% for message in messages %}
                      {{ message }}
                    {% endfor %}
                  </div>
                {% endif %}
            {% endwith %}
            <div class="form-group">
                {{ form.email(class='form-control input-lg', placeholder='Email', required='true') }}
            </div> <!-- / Email -->

            <div class="form-actions">
                <input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg">
            </div> <!-- / .form-actions -->
        </form>
        <!-- / Form -->
        <div class="text-center-sm" style="margin-top: 20px;">
            <a href="/login">Back to Login</a>
        </div>
    </div>
    
</body>
{% endblock %}