{% extends 'security/base.html' %}
{% from "security/_macros.html" import error_help %}

{% block title %}Change Password{% endblock %}

{% block content %}

<body class="theme-default page-signup-alt">

    <!-- Top Nav -->
    <div class="signup-header">
        <a href="/" class="logo">
            <strong>Quotes</strong> App
        </a> <!-- / .logo -->
        <a href="{{ url_for_security('login') }}" class="btn btn-primary">Login</a>
    </div> <!-- / .header -->
    <!-- / Top Nav -->

    <!-- Page Header -->
    <br/>
    <h1 class="form-header">Change Password</h1>
    <!-- / Page Header -->

    <div class="panel">
    <!-- Form -->
        <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
        {{ change_password_form.hidden_tag() }}
        {% include "security/_messages.html" %}

            {% if change_password_form.password.errors %}
                {% set password_error = 'has-error' %}
            {% endif %}
            {% if change_password_form.new_password.errors %}
                {% set new_password_error = 'has-error' %}
            {% endif %}
            {% if change_password_form.new_password_confirm.errors %}
                {% set new_password_confirm_error = 'has-error' %}
            {% endif %}

            <div class="form-group {{ password_error }}">
                {{ change_password_form.password(class='form-control input-lg', placeholder='Current Password', required='true', type='password') }}
                {{ error_help(change_password_form.password) }}
            </div>

            <div class="form-group {{ password_confirm_error }}">
                {{ change_password_form.new_password(class='form-control input-lg', placeholder='New Password', required='true') }}
                {{ error_help(change_password_form.password_confirm) }}
            </div> <!-- / Password -->
            <div class="form-group {{ password_confirm_error }}">
                {{ change_password_form.new_password_confirm(class='form-control input-lg', placeholder='New Password (again)', required='true') }}
                {{ error_help(change_password_form.password_confirm) }}
            </div> <!-- / Password -->

            <div class="form-actions">
                <input type="submit" value="Submit" name="button" class="btn btn-primary btn-lg btn-block">
            </div>
        </form>
    <!-- / Form -->
    </div>
    
</body>

{% endblock %}