{% extends 'security/base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}
<body class="theme-default page-signin-alt">
    
    <!-- Top Nav -->
    <div class="signin-header">
        <a href="/" class="logo">
            <strong>Quotes</strong> App
        </a> <!-- / .logo -->
        <a href="" class="btn btn-primary">Sign Up</a>
    </div> <!-- / .header -->
    <!-- / Top Nav -->

    <!-- Page Header -->
    <br/>
    <h1 class="form-header">Log in to your Account</h1>
    <!-- / Page Header -->

    <div class="panel">
        <!-- Form -->
        <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
            {{ login_user_form.hidden_tag() }}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <div class="alert alert-danger">
                    {% for message in messages %}
                      {{ message }}
                    {% endfor %}
                  </div>
                {% endif %}
            {% endwith %}
            {% if login_user_form.password.errors %}
                {% for error in login_user_form.password.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <div class="form-group has-error">
                {{ login_user_form.email(class='form-control input-lg', placeholder='Email', required='true') }}
                {% if login_user_form.email.errors %}
                    {% for error in login_user_form.email.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div> <!-- / Email -->

            <div class="form-group signin-password">
                {{ login_user_form.password(class='form-control input-lg', placeholder='Password', required='true') }}
            </div> <!-- / Password -->

            <div class="form-actions">
                <input type="submit" value="Log In" class="btn btn-primary btn-block btn-lg">
            </div> <!-- / .form-actions -->
        </form>
        <!-- / Form -->
        <div class="text-center-sm" style="margin-top: 20px;">
            <a href="/forgot">Forgot your password?</a>
        </div>
    </div>

{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
  {{ login_user_form.hidden_tag() }}
  {{ render_field_with_errors(login_user_form.email) }}
  {{ render_field_with_errors(login_user_form.password) }}
  {{ render_field_with_errors(login_user_form.remember) }}
  {{ render_field(login_user_form.next) }}
  {{ render_field(login_user_form.submit) }}
</form>
    
</body>
{% endblock %}