{% extends 'security/base.html' %}
{% from "security/_macros.html" import error_help %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<body class="theme-default page-signup-alt">

    <!-- Top Nav -->
    <div class="signup-header">
        <a href="index.html" class="logo">
            <strong>Quotes</strong> App
        </a> <!-- / .logo -->
        <a href="{{ url_for_security('login') }}" class="btn btn-primary">Login</a>
    </div> <!-- / .header -->
    <!-- / Top Nav -->

    <!-- Page Header -->
    <br/>
    <h1 class="form-header">Reset Password</h1>
    <!-- / Page Header -->

    <div class="panel">
    <!-- Form -->
        <form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
        {{ reset_password_form.hidden_tag() }}
        {% include "security/_messages.html" %}

            {% if reset_password_form.password.errors %}
                {% set password_error = 'has-error' %}
            {% endif %}
            {% if reset_password_form.password_confirm.errors %}
                {% set password_confirm_error = 'has-error' %}
            {% endif %}

            <div class="form-group {{ password_error }}">
                {{ reset_password_form.password(class='form-control input-lg', placeholder='Password', required='true', type='password') }}
                {{ error_help(reset_password_form.password) }}
            </div>
            <div class="form-group {{ password_confirm_error }}">
                {{ reset_password_form.password_confirm(class='form-control input-lg', placeholder='Password (again)', required='true') }}
                {{ error_help(reset_password_form.password_confirm) }}
            </div> <!-- / Password -->

            <div class="form-actions">
                <input type="submit" value="Submit" name="button" class="btn btn-primary btn-lg btn-block">
            </div>
        </form>
    <!-- / Form -->
    </div>
    
</body>

{% endblock %}