<div id="add_client_modal" class="modal fade" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h5 class="modal-title">New Client</h5>
            </div>

            <form id="clientForm" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" id="fname" name="fname" placeholder="First name" class="form-control" required="required" autofocus="autofocus">
                                <label id="basic-error" class="validation-error-label" for="fname"></label>
                            </div>

                            <div class="col-sm-6">
                                <input type="text" id="lname" placeholder="Last name" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="email" id="email" name="email" placeholder="Email" class="form-control">
                                <label id="email-error" class="validation-error-label validation-valid-label" for="email"></label>
                            </div>

                            <div class="col-sm-6">
                                <input type="text" id="phone" placeholder="Phone number" data-mask="999-999-9999" class="form-control">
                            </div>
                        </div>
                    </div>

                    <p><a data-toggle="collapse" data-target="#address"><i class=" icon-menu-open2"></i> Address (optional)</a></p>
                    <div id="address" class="collapse">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Address line 1" class="form-control">
                                </div>

                                <div class="col-sm-6">
                                    <input type="text" placeholder="Address line 2" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" placeholder="City" class="form-control">
                                </div>

                                <div class="col-sm-2">
                                    <select name="state" class='form-control'>
                                        <option value="AL">AL</option>
                                        <option value="AK">AK</option>
                                        <option value="AZ">AZ</option>
                                        <option value="AR">AR</option>
                                        <option value="CA">CA</option>
                                        <option value="CO">CO</option>
                                        <option value="CT">CT</option>
                                        <option value="DE">DE</option>
                                        <option value="DC">DC</option>
                                        <option value="FL">FL</option>
                                        <option value="GA">GA</option>
                                        <option value="HI">HI</option>
                                        <option value="ID">ID</option>
                                        <option value="IL">IL</option>
                                        <option value="IN">IN</option>
                                        <option value="IA">IA</option>
                                        <option value="KS">KS</option>
                                        <option value="KY">KY</option>
                                        <option value="LA">LA</option>
                                        <option value="ME">ME</option>
                                        <option value="MD">MD</option>
                                        <option value="MA">MA</option>
                                        <option value="MI">MI</option>
                                        <option value="MN">MN</option>
                                        <option value="MS">MS</option>
                                        <option value="MO">MO</option>
                                        <option value="MT">MT</option>
                                        <option value="NE">NE</option>
                                        <option value="NV">NV</option>
                                        <option value="NH">NH</option>
                                        <option value="NJ">NJ</option>
                                        <option value="NM">NM</option>
                                        <option value="NY">NY</option>
                                        <option value="NC">NC</option>
                                        <option value="ND">ND</option>
                                        <option value="OH">OH</option>
                                        <option value="OK">OK</option>
                                        <option value="OR">OR</option>
                                        <option value="PA">PA</option>
                                        <option value="RI">RI</option>
                                        <option value="SC">SC</option>
                                        <option value="SD">SD</option>
                                        <option value="TN">TN</option>
                                        <option value="TX">TX</option>
                                        <option value="UT">UT</option>
                                        <option value="VT">VT</option>
                                        <option value="VA">VA</option>
                                        <option value="WA">WA</option>
                                        <option value="WV">WV</option>
                                        <option value="WI">WI</option>
                                        <option value="WY">WY</option>
                                    </select>
                                </div>

                                <div class="col-sm-4">
                                    <input type="text" placeholder="Zip code" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>