{% extends 'dashboard/base.html' %}

{% block title %}New Estimate{% endblock %}

<!-- Estimate JS files -->
{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/estimate/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/core/app.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/estimate/new_estimate.js') }}"></script>
<script type="text/javascript">
    // CSRF protection for ajax submit
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
{% endblock %}
<!-- End Estimate JS files -->

{% block content %}
<!-- Main content -->

<!-- Estimates panel -->
<div class="panel panel-white">
    <div class="panel-heading">
        <h6 class="panel-title">Estimate<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
        <div class="heading-elements">
            <button type="button" class="btn btn-default btn-xs heading-btn"><i class="icon-file-check position-left"></i> Save</button>
            <button type="button" class="btn btn-default btn-xs heading-btn"><i class="icon-printer position-left"></i> Print</button>
        </div>
    </div>

    <div class="panel-body no-padding-bottom">
        <div class="row">
            <div class="col-sm-6 content-group">
                <h5>Katrina Meyer Photography</h5>
                <ul class="list-condensed list-unstyled">
                    <li>888-555-2311</li>
                    <li>katrina@katrinameyer.com</li>
                </ul>
            </div>

            <div class="col-sm-6 content-group">
                <div class="invoice-details">
                    <h5 class="text-uppercase text-semibold">Estimate #001</h5>
                    <ul class="list-condensed list-unstyled">
                        <li>Date: <span class="text-semibold">{{ today }}</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-9 content-group">
                <span class="text-muted">For:</span><br/>
                <span id="add_client_link"><a data-toggle="modal" data-target="#add_client_modal" href="#">Add Client</a></span>

                <!-- modal form -->
                {% include 'dashboard/estimate/add_client_modal.html' %}
                <!-- end modal form -->

                <ul class="list-condensed list-unstyled">
                    <h5><li id="client_name"></li></h5>
                    <li id="client_phone"></li>
                    <li id="client_email"></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table id="itemTable" class="table table-lg">
            <thead>
                <tr>
                    <th class="col-sm-6">Description</th>
                    <th class="col-sm-2">Rate</th>
                    <th class="col-sm-1">Qty</th>
                    <th class="col-sm-1">Total</th>
                </tr>
            </thead>
            <tbody>
                <form id="estimateItem" method="post">
                    <tr>
                        <td>
                            <input name="description1" type="text" placeholder="Enter an item name" class="form-control">
                            <h6 id="description1" class="no-margin"></h6>
                        </td>
                        <td><input name="rate1" type="text" class="form-control"><span id="rate1"></span></td>
                        <td><input name="qty1" type="text" class="form-control"><span id="qty1">1</span></td>
                        <td><span class="text-semibold">$0.00</span></td>
                    </tr>
                </form>
            </tbody>
        </table>
          <div class="panel panel-flat no-border-radius">
            <div class="panel-body text-center">
                <a id="addRow">Add item</a>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row invoice-payment">
            <div class="col-sm-7">
            </div>

            <div class="col-sm-5">
                <div class="content-group">
                    <h6>Total</h6>
                    <div class="table-responsive no-border">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Subtotal:</th>
                                    <td class="text-right">$7,000</td>
                                </tr>
                                <tr>
                                    <th>Tax: <span class="text-regular">(25%)</span></th>
                                    <td class="text-right">$1,750</td>
                                </tr>
                                <tr>
                                    <th>Total:</th>
                                    <td class="text-right text-primary"><h5 class="text-semibold">$8,750</h5></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="text-right">
                        <button type="button" class="btn btn-primary btn-labeled"><b><i class="icon-paperplane"></i></b> Send invoice</button>
                    </div>
                </div>
            </div>
        </div>

        <h6>Other information</h6>
        <p class="text-muted">Thank you for using Limitless. This invoice can be paid via PayPal, Bank transfer, Skrill or Payoneer. Payment is due within 30 days from the date of delivery. Late payment is possible, but with with a fee of 10% per month. Company registered in England and Wales #6893003, registered office: 3 Goodman Street, London E1 8BF, United Kingdom. Phone number: 888-555-2311</p>
    </div>
</div>
<!-- /estimates panel -->

<!-- /main content -->
 {% endblock %}